$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
@import 'bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'font-awesome/scss/font-awesome';
/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header {
    position: fixed;
    left: 50px;
    right: 50px;
    top: 0;
    height: 50px;
    z-index: 9999;
}

body {
    //background-color: rgb(107, 105, 102);
    //color:rgb(34, 34, 34);
}

a {
    color: black;
}

.progress-wrapper {
    margin: 100px;
    font-size: 3em;
}

.page-wrapper {
    margin: 100px;
}

.font-exlg {
    font-size: 5em;
}

.font-lg {
    font-size: 1.5em;
}

.font-md {
    font-size: 1.25em;
}

.font-sm {
    font-size: .75em;
}

.font-xsm {
    font-size: .5em;
}

@media (max-width: $screen-sm) {
    .page-wrapper {
        
    margin: 45px 5px 5px 5px;
        
}
    
    .font-exlg {
    font-size: 4em;
}
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'admin/experience/experience.scss';
@import 'admin/toy/toy.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector