.brand-lg {
    float: left;
    border: 2px solid Gainsboro;
    height: 40px;
    margin-top: 5px;
    .brand {
        float: left;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        height: 50px;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 3px;
        margin: 0px;
        padding: 10px;
        color: darkGray;
    }
}

.brand-sm {
    float: left;
    border: 2px solid Gainsboro;
    height: 40px;
    width: 35px;
    margin-top: 5px;
    .brand {
        float: left;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        height: 50px;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 3px;
        margin: 0px;
        padding: 10px;
        color: darkGray;
    }
}

.contact-wrapper {
    float: left;
    .contact-item {
        font-size: 2em;
        color: #1a84bc;
        margin-left: 3px;
    }
}

.nav-rt-bck {
    margin-right: 50px;
    color:Gainsboro;
}

@media (max-width: $screen-sm) {
    .nav-rt-bck {
        background: white;
    }
}