.work-item {
    .work-item-header {
        position: relative;
        top: 40%;
        left: 10px;
        font-size: 5em;
        z-index: 2;
        font-weight: 700;
        cursor: pointer;
    }
    .work-item-date {
        position: relative;
        top: 43%;
        left: 17px;
        z-index: 2;
    }
    .work-item-main-img {
        position: absolute;
            top: 70px;
            right: 50px;
            left: 50px;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            background-size:cover;
        background-position: center center;
        background-clip: border-box;
        background-origin: padding-box;
        overflow: hidden;
    }
}

@media (max-width: $screen-xs) {
    .work-item {
        .work-item-header {
            font-size: 2em;
        }
        .work-item-date {
            display: none;
        }
    }
}