.work-item {
    .work-item-header {
        position: relative;
        top: 40%;
        left: 10px;
        font-size: 5em;
        z-index: 2;
        font-weight: 700;
        cursor: pointer;
    }
    .work-item-date {
        position: relative;
        top: 43%;
        left: 17px;
        z-index: 2;
    }
    .work-click {
        position: relative;
        top: 68%;
        left: 80px;
        z-index: 2;
        font-weight: 600;
    }
    .work-item-main-img {
        cursor: pointer;
        position: relative;
        right: 70px;
        left: 70px;
        bottom: 30px;
        z-index: 1;
        img {
            width: 90%;
            height: 70%;
        }
    }
}

@media (max-width: $screen-sm) {
    .work-item {
        .work-item-header {
            position: relative;
            top: 12%;
            left: 30px;
            font-size: 3em;
            z-index: 2;
            font-weight: 700;
            cursor: pointer;
        }
        .work-item-date {
            position: relative;
            top: 14%;
            left: 10px;
            z-index: 2;
        }
        .work-click {
            position: relative;
            top: 48%;
            left: 80px;
            z-index: 2;
            font-weight: 600;
        }
        .work-item-main-img {
            cursor: pointer;
            position: absolute;
            top:50px;
            right: 0px;
            left: 0px;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            img {
                height: 800px;
                width: auto;
            }
        }
    }
}