.work-item {
    .work-item-header {
        position: relative;
        top: 83%;
        left: 50%;
        font-size: 5em;
        z-index: 2;
        font-weight: 700;
        pointer-events: none;
    }
    .work-item-date {
        position: relative;
        top: 85%;
        left: 80%;
        z-index: 2;
    }
    .work-item-main-img {
        position: absolute;
            top: 50px;
            right: 3px;
            left: 3px;
            bottom: 3px;
            z-index: 1;
            overflow: hidden;
            background-size:cover;
        background-position: center center;
        background-clip: border-box;
        background-origin: padding-box;
        overflow: hidden;
    }
}

@media (max-width: $screen-xs) {
    .work-item {
        .work-item-header {
            font-size: 2em;
        }
        .work-item-date {
            display: none;
        }
    }
}